<%- include("../partials/header") %>

<div class="container">

    <div class="d-flex align-items-center justify-content-between">
        <h1 class="display-6"><%= data.title %></h1>
    </div>
    <hr>

    <%- data.body %>
</div>

<%- include("../partials/footer") %>