<%- include('../partials/header.ejs') %>

<div class="container">
    <div class="bg-body-tertiary rounded shadow p-3">
        <h3 class="m-0">Editar categoria</h3>
        <hr>
        <form action="/categories/update" method="post">
            <input type="hidden" name="id" value="<%= data.id %>">
            <label for="category-name" class="mb-1">Defina o título da categoria</label>
            <input type="text" class="form-control" autocomplete="none" id="category-name" name="title" placeholder="Ficção, Relatos sobrenaturais, Pensamentos, ..." value="<%= data.title %>">
            <br>
            <button class="btn btn-dark">Atualizar</button>
        </form>
    </div>
</div>


<%- include('../partials/footer.ejs') %>
