<%- include('../partials/header.ejs') %>

<main class="container">

    <div class="bg-body-tertiary rounded shadow p-3">
        <h3 class="m-0">Cadastrar nova categoria</h3>
        <hr>
        <form action="/categories/save" method="post">
            <label for="category-name" class="mb-1">Defina o título da categoria</label>
            <input type="text" class="form-control" autocomplete="none" id="category-name" name="title" placeholder="Ficção, Relatos sobrenaturais, Pensamentos, ...">
            <br>
            <button class="btn btn-dark">Cadastrar</button>
        </form>
    </div>

</main>

<%- include('../partials/footer.ejs') %>